<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782627040679-2rcvh3mcdcasgbcf4ino6t8tretuienq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782627040679-2rcvh3mcdcasgbcf4ino6t8tretuienq</string>
	<key>API_KEY</key>
	<string>AIzaSyAVASuPi0ZE8s5Q0SarfQophM6zghDaog4</string>
	<key>GCM_SENDER_ID</key>
	<string>782627040679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beste.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-91bd2</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-91bd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782627040679:ios:cc42d1fe0bc3296e445a82</string>
</dict>
</plist>